snippet py "basic python script template"



  """
    Author: Koushik Sahu
    Created: `strftime('%I:%M:%S %p(%H:%M:%S) IST(+05:30) %d-%m-%Y %a')`
  """


  def main():
    ${0}


  if __name__ == '__main__':
    main()

