snippet py "basic python script template"



"""
	Author: Koushik Sahu
	Created: `date +%Y-%m-%d\ %H:%M` IST
"""


def main():
	${1}


if __name__ == '__main__':
	main()

endsnippet

snippet pyrightconfig "configuration for pyright language server"
{
  "pythonVersion": "",
  "pythonPlatform": "",

  "executionEnvironments": [
    {
      "root": "."
    }
  ]
}

endsnippet

